In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [2]:
# Read the 2017 dataset
df = pd.read_csv('./Resources/2017.csv')
df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [3]:
df = df.rename(columns={"Happiness.Rank": "Happiness_Rank", "Happiness.Score": "Happiness_Score","Whisker.high": "Whisker_High", "Whisker.low": "Whisker_Low", 
                  "Economy..GDP.per.Capita.": "GDP_per_Capita", "Health..Life.Expectancy.": "Health_Life_Expectancy", "Trust..Government.Corruption." : "Trust_Gov_Corruption", "Dystopia.Residual" : "Dystopia_Residual"
                  })
df.head()

,Country,Happiness_Rank,Happiness_Score,Whisker_High,Whisker_Low,GDP_per_Capita,Family,Health_Life_Expectancy,Freedom,Generosity,Trust_Gov_Corruption,Dystopia_Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [4]:
df = df.drop(['Whisker_High','Whisker_Low', 'Country'], axis=1)

df.head()

,Happiness_Rank,Happiness_Score,GDP_per_Capita,Family,Health_Life_Expectancy,Freedom,Generosity,Trust_Gov_Corruption,Dystopia_Residual
0,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [5]:
df.dtypes

Happiness_Rank              int64
Happiness_Score           float64
GDP_per_Capita            float64
Family                    float64
Health_Life_Expectancy    float64
Freedom                   float64
Generosity                float64
Trust_Gov_Corruption      float64
Dystopia_Residual         float64
dtype: object

In [6]:
df = df.astype({'Happiness_Rank': 'int', 'Happiness_Score': 'int', 'GDP_per_Capita': 'int', 'Family': 'int', 'Health_Life_Expectancy': 'int', 'Freedom': 'int', 'Generosity': 'int', 'Trust_Gov_Corruption': 'int', 'Dystopia_Residual' : 'int'})

In [7]:
df.dtypes

Happiness_Rank            int64
Happiness_Score           int64
GDP_per_Capita            int64
Family                    int64
Health_Life_Expectancy    int64
Freedom                   int64
Generosity                int64
Trust_Gov_Corruption      int64
Dystopia_Residual         int64
dtype: object

In [8]:
X = df.drop('Happiness_Score', axis=1)
y = df['Happiness_Score']

In [9]:
X_train, X_test, y_train, y_test = (X, y, test_size=0.2, random_state=123)

In [10]:
X_train.shape

(124, 8)

In [11]:
X_test.shape

(31, 8)

In [12]:
scaler = StandardScaler()

In [13]:
train_scaled = scaler.fit_transform(X_train)

In [14]:
test_scaled = scaler.transform(X_test)

In [15]:
tree_model = DecisionTreeRegressor()
rf_model = RandomForestRegressor()

In [16]:
tree_model.fit(train_scaled, y_train)
rf_model.fit(train_scaled, y_train)

RandomForestRegressor()

In [27]:
clf = RandomForestRegressor(random_state=42, n_estimators=100).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 0.997912558484273
Testing Score: 0.9850698095238095