In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [2]:
# Read the 2017 dataset
df = pd.read_csv('../Resources/result.csv')
df.head()

,reference,year,country,billionaires,sum_net_worth,rate,life_ladder,log_gdp_per_capita,social_support,healthy_life_expectancy_at_birth,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,2016Argentina,2016,Argentina,1,4.5,0.002,6.427,10.051,0.883,68.4,0.848,-0.192,0.851
1,2016Australia,2016,Australia,5,28.3,0.010,7.250,10.791,0.942,73.0,0.922,0.239,0.399
2,2016Austria,2016,Austria,2,21.2,0.004,7.048,10.891,0.926,72.4,0.889,0.080,0.524
3,2016Belgium,2016,Belgium,1,4.9,0.002,6.949,10.819,0.929,71.6,0.866,-0.056,0.497
4,2016Brazil,2016,Brazil,9,91.8,0.018,6.375,9.578,0.912,66.0,0.807,-0.100,0.781

In [3]:
df.set_index(['year', 'country'])
df.head()

,reference,year,country,billionaires,sum_net_worth,rate,life_ladder,log_gdp_per_capita,social_support,healthy_life_expectancy_at_birth,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,2016Argentina,2016,Argentina,1,4.5,0.002,6.427,10.051,0.883,68.4,0.848,-0.192,0.851
1,2016Australia,2016,Australia,5,28.3,0.010,7.250,10.791,0.942,73.0,0.922,0.239,0.399
2,2016Austria,2016,Austria,2,21.2,0.004,7.048,10.891,0.926,72.4,0.889,0.080,0.524
3,2016Belgium,2016,Belgium,1,4.9,0.002,6.949,10.819,0.929,71.6,0.866,-0.056,0.497
4,2016Brazil,2016,Brazil,9,91.8,0.018,6.375,9.578,0.912,66.0,0.807,-0.100,0.781

In [4]:
df = df.drop(['reference', 'country', 'sum_net_worth'], axis=1)
df.head()

,year,billionaires,rate,life_ladder,log_gdp_per_capita,social_support,healthy_life_expectancy_at_birth,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,2016,1,0.002,6.427,10.051,0.883,68.4,0.848,-0.192,0.851
1,2016,5,0.010,7.250,10.791,0.942,73.0,0.922,0.239,0.399
2,2016,2,0.004,7.048,10.891,0.926,72.4,0.889,0.080,0.524
3,2016,1,0.002,6.949,10.819,0.929,71.6,0.866,-0.056,0.497
4,2016,9,0.018,6.375,9.578,0.912,66.0,0.807,-0.100,0.781

In [5]:
df.isna().sum()

year                                 0
billionaires                         0
rate                                 0
life_ladder                          0
log_gdp_per_capita                   1
social_support                       0
healthy_life_expectancy_at_birth     0
freedom_to_make_life_choices         1
generosity                           1
perceptions_of_corruption           14
dtype: int64

In [6]:
df = df.drop('perceptions_of_corruption', axis=1)

In [7]:
df = df.dropna()

In [8]:
df.dtypes

year                                  int64
billionaires                          int64
rate                                float64
life_ladder                         float64
log_gdp_per_capita                  float64
social_support                      float64
healthy_life_expectancy_at_birth    float64
freedom_to_make_life_choices        float64
generosity                          float64
dtype: object

In [9]:
df = df.astype({'rate': 'int', 'life_ladder': 'int',
                'log_gdp_per_capita': 'int', 'social_support': 'int', 'healthy_life_expectancy_at_birth': 'int', 
                'freedom_to_make_life_choices': 'int', 'generosity': 'int'})

In [10]:
df.dtypes

year                                int64
billionaires                        int64
rate                                int64
life_ladder                         int64
log_gdp_per_capita                  int64
social_support                      int64
healthy_life_expectancy_at_birth    int64
freedom_to_make_life_choices        int64
generosity                          int64
dtype: object

In [11]:
X = df.drop('billionaires', axis=1)
y = df['billionaires']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
X_train.shape

(164, 8)

In [14]:
X_test.shape

(41, 8)

In [15]:
scaler = StandardScaler()

In [16]:
train_scaled = scaler.fit_transform(X_train)

In [17]:
test_scaled = scaler.transform(X_test)

In [18]:
tree_model = DecisionTreeRegressor()

In [19]:
tree_model.fit(train_scaled, y_train)

DecisionTreeRegressor()

In [23]:
clf = DecisionTreeRegressor(random_state=142).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 0.8357659824687901
Testing Score: -0.22655252296377681